<form>
  <mat-form-field>
    <input matInput placeholder="From" value="test@test.com" readonly>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="To">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Subject">
  </mat-form-field>
</form>

<quill-editor>
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
    </div>
</quill-editor>

<button class="send" mat-fab color="accent">
    <mat-icon>send</mat-icon>
</button>