<form>
  <mat-form-field>
    <input matInput placeholder="From" value="test@test.com" readonly>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="To">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Subject">
  </mat-form-field>
</form>

<quill-editor>
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
        <button class="ql-strike" [title]="'Strikethough'"></button>
      </span>

      <span class="ql-formats">
        <button class="ql-align" value="" [title]="'Align left'"></button>
        <button class="ql-align" value="center" [title]="'Align center'"></button>
        <button class="ql-align" value="right" [title]="'Align right'"></button>
      </span>

      <span class="ql-formats">
        <button class="ql-list" value="bullet" [title]="'Bulleted list'"></button>
        <button class="ql-list" value="ordered" [title]="'Numbered list'"></button>
      </span>
    </div>
</quill-editor>

<button class="send" mat-fab color="accent">
    <mat-icon>send</mat-icon>
</button>