%date-heading {
  color: grey;
}

.bundle {
  .mat-expansion-panel-header-title p {
    text-transform: capitalize;
  }
}

.date-heading {
  @extend %date-heading;
  margin: 1em 0 1em 2em;
}

.date-heading-first {
  @extend %date-heading;
  margin: 0 0 1em 2em;
}

.list-item {
  margin-bottom: 0.2em;
}