%date-heading {
  color: grey;
}

.bundle {
  .mat-expansion-panel-header-title p {
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 600px) {
  .bundle .mat-expansion-panel-body {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.date-heading {
  @extend %date-heading;
  margin: 1em 0 1em 2em;
}

.date-heading-first {
  @extend %date-heading;
  margin: 0 0 1em 2em;
}

.list-item {
  margin-bottom: 0.2em;
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
}

.mat-expansion-panel-header-title {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}