<div *ngFor="let thread of list; let i = index">
  <div class="date-heading-first" *ngIf="i == 0">{{ thread.month }}</div>
  <div class="date-heading" *ngIf="i != 0 && thread.month != list[i-1].month">{{ thread.month }}</div>

  <div class="list-item">
    <app-message *ngIf="thread.subject && !thread.messages" [id]="thread.id" [title]="thread.authors.join(', ')" [description]="thread.subject"></app-message>

    <app-thread *ngIf="thread.messages?.length > 1" [id]="thread.id" [title]="thread.authors.join(', ')" [description]="thread.subject" [authors]="thread.authors" [messages]="thread.messages"></app-thread>

    <ng-container *ngIf="thread.threads">
      <mat-expansion-panel hideToggle="true" class="bundle">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{ thread.id }}</p>
          </mat-panel-title>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-expansion-panel-header>

        <app-thread-list [threads]="thread.threads"></app-thread-list>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>