$toolbar-height: 64px;

%fill-space {
    flex: 1 1 auto;
}

.fill {
    @extend %fill-space;
}

button.compose {
    position: fixed;
    bottom: 25px;
    right: 40px;
}

mat-toolbar {
    height: $toolbar-height;

    .title {
        margin-left: 0.5em;
        margin-right: 3em;
    }

    .search {
        @extend %fill-space;
        font-size: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.mat-sidenav-container {
    height: calc( 100vh - #{ $toolbar-height } );
    padding-bottom: 50px;
}

mat-sidenav {
    width: 230px;

    mat-nav-list {
        padding: 5px;

        mat-icon {
            margin-right: 1em;
        }
    }
}


mat-sidenav-content {
    height: 100%;
    padding: 20px 30px 20px 30px;
}

@media only screen and (max-width: 600px) {
    mat-sidenav-content {
        padding-left: 0;
        padding-right: 0;
    }
}

.content {
    margin-bottom: 80px;
}