<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="title">{{ title }}</span>

  <input class="search" matInput type="search" placeholder="Search">

  <mat-slide-toggle class="pinned" aria-label="Show pinned"></mat-slide-toggle>

  <mat-icon>person</mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item href="">
        <mat-icon>inbox</mat-icon> <span>Inbox</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>watch_later</mat-icon> <span>Snoozed</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>done</mat-icon> <span>Done</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="">
        <mat-icon>drafts</mat-icon> <span>Drafts</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>send</mat-icon> <span>Sent</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>next_week</mat-icon> <span>Reminders</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>delete</mat-icon> <span>Bin</span>
      </a>
      <a mat-list-item href="">
        <mat-icon>report</mat-icon> <span>Spam</span>
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Bundled in the inbox</h3>
      <a mat-list-item href="">
          <mat-icon>shopping_cart</mat-icon> <span>Purchases</span>
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Skip the inbox</h3>
      <a mat-list-item href="">
          <mat-icon>label</mat-icon> <span>Some rubbish</span>
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Unbundled</h3>
      <a mat-list-item href="">
          <mat-icon>label</mat-icon> <span>Other stuff</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="">
        <mat-icon>settings</mat-icon> <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content itho tuhso tuh ostuhou
          thouthou h
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>

    <button class="compose" mat-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>