mat-toolbar {
    .filler {
        flex: 1 1 auto;
    }
}

mat-sidenav {
    width: 230px;

    mat-nav-list {
        padding: 5px;

        mat-icon {
            margin-right: 1em;
        }
    }
}