$toolbar-height: 64px;

mat-toolbar {
    height: $toolbar-height;

    .filler {
        flex: 1 1 auto;
    }
}

mat-sidenav-container {
    height: calc( 100vh - #{ $toolbar-height } );
}

mat-sidenav {
    width: 230px;

    mat-nav-list {
        padding: 5px;

        mat-icon {
            margin-right: 1em;
        }
    }
}