%fill-space {
  flex: 1 1 auto;
}

.fill {
  @extend %fill-space;
}

.content-header {
  align-items: center;
  display: flex;
  width: 100%;
}

.mat-expansion-panel-header-title {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: center;
  min-width: 0;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.heading {
  font-size: 14px;
  color: black;
}