<mat-expansion-panel hideToggle="true" (click)="toggle()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p>{{ title }}</p>
    </mat-panel-title>
    <mat-panel-description>
      <p>{{ description }}</p>
    </mat-panel-description>
    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
  </mat-expansion-panel-header>

  <div class="content-header">
    <span>{{ author }}</span>
    <span class="fill"></span>
    <span class="date">{{ date | date:"medium" }}</span>
  </div>

  <p [innerHTML]="content"></p>
</mat-expansion-panel>